.root {
    min-width: 10rem;
    padding: 0.5rem;
    color: var(--text-color);
    border-radius: 0.125rem;
    cursor: pointer;
    line-height: 2rem;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.root:disabled {
    cursor: not-allowed;
}

.rootFullWidth {
    width: 100%;
}

button.rootContained {
    background-color: var(--primary-color);
}

button.rootOutlined {
    border-color: var(--primary-color);
    border-style: solid;
    background-color: transparent;
    background-repeat: no-repeat;
}