.rootContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 3rem;
   margin-right: 3rem;
}

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: nowrap;
}

.portfolioType {
   display: flex;
   flex-direction: row;
   gap: 0.5rem;
}

button.timeSpanBtn {
   min-width: unset;
   width: 4rem;
   height: 1.5rem;
   line-height: 0rem;
   margin: 0.5rem;   
}

.cardHeader {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.metrics {
   font-weight: bold;
   color: var(--accent-sucess);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

div.card {
   height: 6rem;
   min-height: unset;
   margin-top: 1rem;
}
.cardContent {
   float: right;
   padding-right: 1rem;
}

.assetTotal {
   color: var(--neutral-color);
}

.assetCell {
    display: flex;
    gap: 2rem;
}

.footer {
   margin-left: 2.5rem;
   margin-right: 3rem;
}

.marketBreakdownRoot {
   margin-top: 1rem;
}

.assetAllocationNavigation {
   cursor: pointer;
}

.chip {
   margin-left: 15px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.description {
   color: var(--neutral-color);
   margin-left: 6px;
}