.root {
    border-color: var(--neutral-color);
    border-radius: 0.4rem;
    border-style: solid;
    min-height: 10rem;
    overflow: scroll;
}

.cardHeader {
    border-bottom-color: var(--neutral-color);
    border-bottom-style: solid;
    background-color: var(--secondary-color);
    min-height: 1rem;
    padding: 1rem;
    line-height: 1rem;
}

.cardHeaderTitle {
    margin-top: 0.125rem;
    margin-right: 0.5rem;
    color: var(--text-color);
    font-weight: bold;
}

.cardHeaderSubtitle {
    color: var(--text-color);
    margin-top: 0.5rem;
    display: block;
    font-size: small;
}

.cardContent {
    width: '100%'
}