.table {
    border-color: var(--neutral-color);
    border-radius: 0.4rem;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 0 1px #666;
    width: 100%
}

.tableCell {
    padding: 1rem;
    color: var(--neutral-color);
}

.tableRow {
    border-bottom-color: var(--neutral-color);
    border-bottom-style: solid;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tableBody > .tableRow > .tableCell:first-of-type {
    color: var(--text-color);
}