:root {
    --main-bg-color: #0D1D33;
    --primary-color: #323E51;
    --secondary-color: #1B293E;
    --neutral-color: #4F5867;
    --text-color: #A5AEB2;
    --text-color-muted: #A5AEB2;
    --accent-sucess: #3B9E46
}